.MenuMobile {
  position: sticky;
  top: 0px;
  $boxShadow: 0 2px 10px -1px #676767;
  transition: 0.35s ease-out;

  &-topBar {
    height: 50px;
    box-shadow: $boxShadow;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    * {
      max-height: 90%;
      width: auto;
      border: none;
      background-color: transparent;
      padding: 10px 15px;
      cursor: pointer;
    }
  }
  &-overlay {
    transition: 0.35s ease-out;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &-sideNav {
    position: fixed;
    transition: inherit;
    top: 0px;
    left: 0px;
    width: 80%;
    max-width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: 1px 0px 10px 0px #777;
    will-change: transform;
    transform: translateX(-100%);
    &-header {
      height: 35%;
      font-size: 1.5em;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      background-color: #56abb9;
      color: #222;
      margin-bottom: 25px;
    }

    &-buttons {
      display: flex;
      flex-direction: column;
      * {
        background: transparent;
        border: none;
        height: 40px;
        font-size: 18px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          background-color: #dcdcdc;
        }
      }
    }
  }
}

.MenuMobile--active {
  .MenuMobile {
    &-sideNav {
      transform: translateX(0%) !important;
    }
  }
}
