.PellEditor {
  $black27: rgba(0, 0, 0, 0.27);
  $black54: rgba(0, 0, 0, 0.54);
  $spacer: 8px;
  $themeColor: #aaa;

  background-color: white;
  width: 500px;
  max-width: 90%;
  border: 1px solid $black27;
  position: relative;

  &-actionbar {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $black27;
  }

  &-button {
    background: transparent;
    border: none;
    padding: $spacer;
    font-family: inherit;
    &:hover {
      cursor: pointer;
    }
  }

  &-content {
    outline: 0;
    padding: $spacer;
    margin-bottom: $spacer * 2;
    &:active {
      outline: none;
    }
  }
}
