.PellEditor {
  $black12: rgba(0, 0, 0, 0.12);
  $black27: rgba(0, 0, 0, 0.27);
  $black87: rgba(0, 0, 0, 0.87);
  $spacer: 8px;
  $themeColor: #aaa;
  box-shadow: 0 0 $spacer 0 $black27;
  background-color: white;
  width: 500px;
  max-width: 90%;
  position: relative;

  &-actionbar {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $black12;
  }

  &-button {
    display: flex;
    background: transparent;
    border: 0;
    padding: $spacer;
    color: $black87;
    cursor: pointer;
  }

  &-content {
    outline: 0;
    border: 0;
    padding: $spacer $spacer * 2;
    margin: $spacer*2 0;
    &:active {
      outline: none;
    }
  }
}
