.PellEditor {
  background-color: white;
  width: 500px;
  max-width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.27);
  position: relative; }
  .PellEditor-actionbar {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.27); }
  .PellEditor-button {
    background: transparent;
    border: none;
    padding: 8px;
    font-family: inherit; }
    .PellEditor-button:hover {
      cursor: pointer; }
  .PellEditor-content {
    outline: 0;
    padding: 8px;
    margin-bottom: 16px; }
    .PellEditor-content:active {
      outline: none; }
