.CardComponent {
  margin-bottom: 16px;
  width: 350px;
  max-width: 90vw;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.27);
  border-radius: 4px;
  margin: 16px auto;
  background: white;
  color: #111; }
  .CardComponent-header {
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: #101072;
    cursor: pointer; }
  .CardComponent-image {
    height: 100%; }
  .CardComponent-title {
    margin: 8px 0 0 16px; }
  .CardComponent-subtitle {
    margin: 0 0 0 16px;
    color: rgba(0, 0, 0, 0.42); }
  .CardComponent-readmore {
    margin: 0 0 0 16px;
    color: rgba(0, 0, 0, 0.42);
    opacity: 0;
    transition: 0.05s;
    cursor: pointer; }
    .CardComponent-readmore--visible {
      opacity: 1; }
  .CardComponent-description {
    padding: 16px;
    max-height: 75px;
    overflow: hidden;
    transition: 0.4s ease; }
    .CardComponent-description--toggled {
      max-height: 600px; }
  .CardComponent-text {
    margin: 0 0 8px 0; }
  .CardComponent-actions {
    display: flex;
    flex-direction: row-reverse;
    padding: 16px; }
    .CardComponent-actions button {
      color: white;
      background-color: #101072; }
