.MaterialLogin {
  position: relative;
  display: flex;
  padding-top: 16px;
  margin-bottom: 8px; }
  .MaterialLogin-content {
    width: 100%; }
  .MaterialLogin-input {
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.54);
    padding-bottom: 8px;
    padding-top: 8px; }
    .MaterialLogin-input::placeholder {
      visibility: hidden; }
    .MaterialLogin-input:focus {
      outline: none; }
    .MaterialLogin-input:disabled {
      border-bottom-style: dashed;
      background-color: inherit; }
      .MaterialLogin-input:disabled:hover {
        border-bottom-color: #dcdcdc; }
    .MaterialLogin-input:hover {
      border-bottom-color: rgba(0, 0, 0, 0.87);
      transition: 0.1s; }
  .MaterialLogin-label {
    transition: 0.3s cubic-bezier(0.7, 0.04, 0.28, 0.88);
    position: absolute;
    color: rgba(0, 0, 0, 0.54);
    cursor: text; }
  .MaterialLogin-guide-line {
    position: relative;
    display: flex;
    height: 2px;
    width: 101%;
    background-color: #538fef;
    top: -2px;
    left: 0%;
    transform: scaleX(0);
    transition: 0.3s cubic-bezier(0.7, 0.04, 0.28, 0.88); }
  .MaterialLogin-error, .MaterialLogin-helper {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    padding: 8px 0; }
  .MaterialLogin-helper {
    display: flex;
    flex-direction: row-reverse; }
  .MaterialLogin-icon {
    padding-right: 16px; }

.MaterialLogin--active .MaterialLogin-label {
  cursor: context-menu;
  font-size: 12px;
  color: #538fef;
  transform: translateY(-100%); }

.MaterialLogin--active .MaterialLogin-guide-line {
  transform: scaleX(1); }

.MaterialLogin--idle .MaterialLogin-label {
  color: rgba(0, 0, 0, 0.87); }

.MaterialLogin--idle .MaterialLogin-guide-line {
  transform: scaleX(0); }

.MaterialLogin--error .MaterialLogin-input {
  border-bottom-color: tomato; }

.MaterialLogin--error .MaterialLogin-label {
  color: tomato; }

.MaterialLogin--error .MaterialLogin-guide-line {
  background-color: tomato; }

.MaterialLogin--error .MaterialLogin-error {
  color: tomato; }
