.MaterialLogin {
  $activeColor: #538fef;
  padding: 16px 4px 2px 4px;
  position: relative;
  border-bottom: 1px solid #dcdcdc;
  $transition: 0.3s cubic-bezier(0.7, 0.04, 0.28, 0.88);
  &-input {
    width: 100%;
    position: relative;
    border: none;
    &::placeholder {
      visibility: hidden;
    }
    &:focus {
      outline: none;
    }
  }

  &-placeholder {
    transition: $transition;
    position: absolute;
    left: 0;
    padding: 2px 4px;
    color: #aaa;
    z-index: 1;
    cursor: text;
  }

  &-complementary {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $activeColor;
    bottom: -2px;
    left: 0%;
    transform: scaleX(0);
    transition: $transition;
  }
}

.MaterialLogin--active {
  .MaterialLogin {
    $activeColor: #538fef;

    &-placeholder {
      cursor: context-menu;
      font-size: 14px;
      color: $activeColor;
      transform: translateY(-100%);
    }

    &-complementary {
      transform: scaleX(1);
    }
  }
}

.MaterialLogin--completed {
  .MaterialLogin {
    $completedColor: #444;
    &-placeholder {
      color: $completedColor;
    }
    &-complementary {
      transform: scaleX(0);
    }
  }
}
